.work-examples-wrapper-t
  .work-examples-modal.tailor-modal
    .title-header
      %h2 TAILOR
      .remove-button.remove-tailor
        %i.icon-remove
    .example-image
      = link_to "http://www.tailorapp.com", :target => "_blank" do 
        = image_tag("tailor1.png", :alt => 'www.tailorapp.com', :class => "modal-project-image")
      .modal-project-blurb Our team used the Yelp and Zappo’s APIs to build a clothing recommendation engine, which suggested specific Zappo’s items for nightlife venues around San Francisco. We used HTML, CSS, Rails and jQuery.
      .button-links
        = link_to "Website", "http://www.tailorapp.com", :target => "_blank", :class => "website" 
        = link_to "GitHub", "https://github.com/schroerbrian/Tailor", :target => "_blank", :class => "github" 

.work-examples-wrapper-l
  .work-examples-modal.locale-modal
    .title-header
      %h2 LOCALE
      .remove-button.remove-locale
        %i.icon-remove
    .example-image
      = link_to "http://locale.herokuapp.com", :target => "_blank" do 
        = image_tag("locale5.png", :alt => 'http://locale.herokuapp.com', :class => "modal-project-image")
      .modal-project-blurb My partner and I used the FourSquare, Twitter and Instagram APIs to build a hyperlocal app that shows various social media activities within a user’s area. We also built our own geo-tagged posts and comments system with AngularJS.
      .button-links
        = link_to "Website", "http://locale.herokuapp.com", :target => "_blank", :class => "website" 
        = link_to "GitHub", "https://github.com/schroerbrian/locale", :target => "_blank", :class => "github" 

.work-examples-wrapper-g
  .work-examples-modal.grooves-modal
    .title-header
      %h2.grooves GROOVES 
      .remove-button.remove-grooves
        %i.icon-remove
    .example-image
      = link_to "http://globalgrooves.herokuapp.com/test", :target => "_blank" do 
        = image_tag("grooves.png", :alt => 'http://grooves.herokuapp.com', :class => "modal-project-image")
      .modal-project-blurb (WORK IN PROGRESS) I used the SoundCloud API to display recent SoundCloud tracks on a map according to their uploader’s geolocation. I designed a flat-design widget, based on the soundcloud-custom-player, heavily editing their native CSS and JS to make it better suit my needs.
      .button-links
        = link_to "Website", "http://globalgrooves.herokuapp.com/test", :target => "_blank", :class => "website" 
        = link_to "GitHub", "https://github.com/schroerbrian/grooves_v2", :target => "_blank", :class => "github" 
