.work-examples-modal.tailor-modal
  .title-header
    %h2 TAILOR
    .remove-button.remove-tailor
      %i.icon-remove
  .example-image
    = link_to "http://www.tailorapp.com", :target => "_blank" do 
      = image_tag("tailor1.png", :alt => 'www.tailorapp.com', :class => "modal-project-image", :width => "600px")
    .modal-project-blurb Our team used the Yelp and Zappo’s APIs to build a clothing recommendation engine, which suggested specific Zappo’s items for nightlife venues around San Francisco. We used HTML, CSS, Rails and jQuery.

.work-examples-modal.locale-modal
  .title-header
    %h2 LOCALE
    .remove-button.remove-locale
      %i.icon-remove
  .example-image
    = link_to "http://locale.herokuapp.com", :target => "_blank" do 
      = image_tag("locale5.png", :alt => 'http://locale.herokuapp.com', :class => "modal-project-image", :width => "600px")
    .modal-project-blurb My partner and I used the FourSquare, Twitter and Instagram APIs to build a hyperlocal app that shows various social media activities within a user’s area. We also built our own geo-tagged posts and comments system with AngularJS.

.work-examples-modal.grooves-modal
  .title-header
    %h2.grooves GROOVES
    .remove-button.remove-grooves
      %i.icon-remove
  .example-image
    = link_to "http://grooves.herokuapp.com", :target => "_blank" do 
      = image_tag("grooves.png", :alt => 'http://grooves.herokuapp.com', :class => "modal-project-image", :width => "600px")
    .modal-project-blurb I built on the SoundCloud API and Leaflet Maps to display recent SoundCloud tracks on a map according to their uploader’s geolocation. Users are able to play the track and get information about the user and song.
