%section.contact
  .content
    %h1 Get in touch
    .contact-info
      %span.contact-me 
        Questions? Comments? Complaints? Please don't hesitate to get in touch. 
      %br 
      %ul.contact-page-links-list
        %li.contact-page-link-items
          = link_to "mailto:schroer.brian@gmail.com" do 
            %span Email me
        %li.contact-page-link-items
          = link_to "https://twitter.com/bumblingbees" do 
            %span Tweet at me 
        %li.contact-page-link-items
          = link_to "http://www.linkedin.com/in/bschroer" do 
            %span LinkedIn with me
        %li.contact-page-link-items
          = link_to "https://github.com/schroerbrian",  do 
            %span Check out my work on GitHub
      %nav.iphone-social-links
        %ul.iphone-social-icon-list
          %li.iphone-social-icons
            = link_to "https://github.com/schroerbrian", :target => "_blank" do 
              %i.icon-github
          %li.iphone-social-icons
            = link_to "https://twitter.com/bumblingbees", :target => "_blank" do 
              %i.icon-twitter
          %li.iphone-social-icons
            = link_to "http://www.linkedin.com/in/bschroer", :target => "_blank" do 
              %i.icon-linkedin
          %li.iphone-social-icons
            = link_to "mailto:schroer.brian@gmail.com", :target => "_blank" do 
              %i.icon-envelope-alt

