!!!
%html
  %head
    %title Portfolio
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,100,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", :rel=>"stylesheet"}
    %meta{content: "user-scalable=0, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      %header
        %h1.name-title Brian Schroer
        %nav.view-links
          %ul.header-links
            %li 
              = link_to "About", "/"
            %li 
              = link_to "Work", work_path
            %li
              = link_to "Contact", contact_path
        %nav.social-links
          %ul.social-icon-list
            %li.social-icons
              = link_to "https://github.com/schroerbrian" do 
                %i.icon-github
            %li.social-icons
              = link_to "https://twitter.com/bumblingbees" do 
                %i.icon-twitter
            %li.social-icons
              = link_to "http://www.linkedin.com/in/bschroer" do 
                %i.icon-linkedin
            %li.social-icons
              = link_to "mailto:schroer.brian@gmail.com" do 
                %i.icon-envelope-alt     

      = yield
